<div class="row mb-4">
  <div class="col-lg-8 col-xs-12 mx-auto">
    <h2 class="my-2">Relativity: the special and the general theory</h2>
    <ul class="list-inline">
      <li class="list-inline-item">Posted in <a href="#">Science</a></li>
      <li class="list-inline-item">on <a href="#">January 30, 1915</a></li>
      <li class="list-inline-item">by <a href="#">Albert Einstein</a></li>
    </ul>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. <a href="article.html">Read more...</a>
    </p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-lg-8 col-xs-12 mx-auto">
    <h2 class="my-2">A Brief History of Time</h2>
    <p>
      Posted in <a href="#">Science</a> on <a href="#">January 30, 1988</a> by <a href="#">Steven Hawking</a>
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. <a href="article.html">Read more...</a>
    </p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-lg-8 col-xs-12 mx-auto">
    <h2 class="my-2">Philosophiæ Naturalis Principia Mathematica</h2>
    <p>
      Posted in <a href="#">Science</a> on <a href="#">January 30, 1687</a> by <a href="#">Isaac Newton</a>
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. <a href="article.html">Read more...</a>
    </p>
  </div>
</div>

<div class="row mb-4">
  <div class="col-lg-8 col-xs-12 mx-auto">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">6</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</div>
