<article>
  <h1 class="my-3">Mathematical expressions</h1>
  <p>
    I sometimes ask myself how it came about that I was the one to develop the theory of relativity. The
    reason, I think, is that a normal adult never stops to think about the problem of space and time. These
    are things which he has thought of as a child. But my intellectual development was retarded, as a result
    of which I began to wonder about space and time only when I had already grown up.
  </p>

  <hr class="divider my-5" />

  <h2 class="mb-3">Mathematical expressions</h2>
  <h3>Mass–energy equivalence</h3>
  <p>
    In physics, mass–energy equivalence is the relationship between mass and energy in a system's rest frame,
    where the two quantities differ only by a multiplicative constant and the units of measurement. The
    principle is described by the physicist <a href="#"> Albert Einstein's</a> formula: \( E = mc^2 \). In a
    reference frame where the system is moving, its relativistic energy and relativistic mass (instead of rest
    mass) obey the same formula.
  </p>

  <h3>Einstein field equations</h3>
  <p>
    In the general theory of relativity, the Einstein field equations (EFE; also known as Einstein's
    equations) relate the geometry of spacetime to the distribution of matter within it.
  </p>
  <p>
    The equations were published by Albert Einstein in 1915 in the form of a tensor equation which related the
    local spacetime curvature (expressed by the Einstein tensor) with the local energy, momentum and stress
    within that spacetime (expressed by the stress–energy tensor).
  </p>

  <h4>Mathematical form</h4>
  <p>
    The Einstein field equations (EFE) can be written in the form: \[ G_{\mu\nu} + \Lambda g_{\mu\nu} =
    \frac{8\pi G}{c^4} T_{\mu\nu} \] where: \( G_{\mu\nu} \) is the Einstein tensor, \( g_{\mu\nu} \) is the
    metric tensor, \( \Lambda \) is the cosmological constant, \( G \) is the gravitational constant, \( c \)
    is the speed of light in vacuum, and \( T_{\mu\nu} \) is the stress–energy tensor. For more information,
    see
    <a href="https://en.wikipedia.org/wiki/Einstein_field_equations">Einstein field equations.</a>
  </p>

  <h4 class="mt-5">Schrödinger equation</h4>
  <p>
    The Schrödinger equation is a partial differential equation that governs the wave function of a
    non-relativistic quantum-mechanical system. Its discovery was a significant landmark in the development of
    quantum mechanics. It is named after Erwin Schrödinger, an Austrian physicist, who postulated the equation
    in 1925 and published it in 1926, forming the basis for the work that resulted in his Nobel Prize in
    Physics in 1933.
  </p>

  <h4>Time-dependent equation</h4>
  <p>
    The form of the Schrödinger equation depends on the physical situation. The most general form is the
    time-dependent Schrödinger equation, which gives a description of a system evolving with time: \[ i \hbar
    \frac{d}{d t}\vert\Psi(t)\rangle = \hat H\vert\Psi(t)\rangle \]
  </p>

  <h4>Hydrogen atom</h4>
  <p>
    The Schrödinger equation for the electron in a hydrogen atom (or a hydrogen-like atom) is: \[ E \psi =
    -\frac{\hbar^2}{2\mu}\nabla^2\psi - \frac{q^2}{4\pi\varepsilon_0 r}\psi \]
  </p>

  <p>
    Where \( q \) is the electron charge, \( r \) is the position of the electron relative to the nucleus, \(
    r = |\mathbf{r}| \) is the magnitude of the relative position, the potential term is due to the Coulomb
    interaction, wherein \( \varepsilon_0 \) is the permittivity of free space and: \[ \mu = \frac{m_q
    m_p}{m_q+m_p} \] is the 2-body reduced mass of the hydrogen nucleus (just a proton) of mass \( m_p \) and
    the electron of mass \( m_q \). The negative sign arises in the potential term since the proton and
    electron are oppositely charged. The reduced mass in place of the electron mass is used since the electron
    and proton together orbit each other about a common center of mass, and constitute a two-body problem to
    solve. The motion of the electron is of principal interest here, so the equivalent one-body problem is the
    motion of the electron using the reduced mass.
  </p>

  <hr class="my-5" />

  <h3>Gödel’s Ontological Proof</h3>
  <p>
    Gödel's ontological proof is a formal argument for the existence of God using modal logic. It is based on
    positive properties, necessary existence, and axioms of modal logic.
  </p>

  <p>
    The following is the original argument in symbolic notation, then an explanation of each individual symbol
    used, and then a translation into English of the full argument.
  </p>

  <p class="equation">
    \( \boldsymbol {Ax. 1.} \phantom\ \left\{P(\varphi) \wedge \Box \; \forall x[\varphi(x) \to
    \psi(x)]\right\} \to P(\psi) \).
  </p>
  <p class="equation">\( \boldsymbol {Ax. 2.} \phantom\ P(\neg \varphi) \leftrightarrow \neg P(\varphi) \)</p>
  <p class="equation">
    \( \boldsymbol {Th. 1.} \phantom\ P(\varphi) \to \Diamond \; \exists x[\varphi(x)] \)
  </p>
  <p class="equation">
    \( \boldsymbol {Df. 1.} \phantom\ G(x) \iff \forall \varphi [P(\varphi) \to \varphi(x)] \)
  </p>
  <p class="equation">\( \boldsymbol {Ax. 3.} \phantom\ P(G) \)</p>
  <p class="equation">\( \boldsymbol {Th. 2.} \phantom\ \Diamond \; \exists x \; G(x) \)</p>
  <p class="equation">
    \( \boldsymbol {Df. 2.} \phantom\ \varphi \text{ ess } x \iff \varphi(x) \wedge \forall \psi
    \left\{\psi(x) \to \Box \; \forall y[\varphi(y) \to \psi(y)]\right\} \)
  </p>
  <p class="equation">\( \boldsymbol {Ax. 4.} \phantom\ P(\varphi) \to \Box \; P(\varphi) \)</p>
  <p class="equation">\( \boldsymbol {Th. 3.} \phantom\ G(x) \to G \text{ ess } x \)</p>
  <p class="equation">
    \( \boldsymbol {Df. 3.} \phantom\ E(x) \iff \forall \varphi[\varphi \text{ ess } x \to \Box \; \exists y
    \; \varphi(y)] \)
  </p>
  <p class="equation">\( \boldsymbol {Ax. 5.} \phantom\ P(E) \)</p>
  <p class="equation">\( \boldsymbol {Th. 4.} \phantom\ \Box \; \exists x \; G(x) \)</p>

  <!--p class="equation">
      $$
        \begin{array}{rl}
        \text{Ax. 1.} & \left\{P(\varphi) \wedge \Box \; \forall x[\varphi(x) \to \psi(x)]\right\} \to P(\psi) \\
        \text{Ax. 2.} & P(\neg \varphi) \leftrightarrow \neg P(\varphi) \\
        \text{Th. 1.} & P(\varphi) \to \Diamond \; \exists x[\varphi(x)] \\
        \text{Df. 1.} & G(x) \iff \forall \varphi [P(\varphi) \to \varphi(x)] \\
        \text{Ax. 3.} & P(G) \\
        \text{Th. 2.} & \Diamond \; \exists x \; G(x) \\
        \text{Df. 2.} & \varphi \text{ ess } x \iff \varphi(x) \wedge \forall \psi \left\{\psi(x) \to \Box \; \forall y[\varphi(y) \to \psi(y)]\right\} \\
        \text{Ax. 4.} & P(\varphi) \to \Box \; P(\varphi) \\
        \text{Th. 3.} & G(x) \to G \text{ ess } x \\
        \text{Df. 3.} & E(x) \iff \forall \varphi[\varphi \text{ ess } x \to \Box \; \exists y \; \varphi(y)] \\
        \text{Ax. 5.} & P(E) \\
        \text{Th. 4.} & \Box \; \exists x \; G(x) \end{array}
      $$
    </p-->
</article>
